@import '../../../styles/abstracts/variables';

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin:20px 0px 20px 0px;
  background-color: $white;
  border-bottom: 2px solid $gray-300;
}

.search_field_container {
  width: 220px;
}

@media (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .logo {
     width: 136px;
     height: 60px;
  }
  .search_field_container {
    width: 100%
  }
}