.wrapper {
  display: flex;
  justify-content: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.bold_text {
  font-weight: bold;
}

@media (max-width: 1024px) {
  .container {
    padding: 0px 20px 0px 20px;
  }
}